<div class="py-16">
<h1 class="text-center text-5xl mb-8"> Megamind knowledge base <h1>
<h3 class="text-center text-4xl mb-8 text-gray-400">Please <a class="text-gray-800" href="/login">login</a> or <a class="text-gray-800" href="/users/new">create a user</a> to continue</h3>
</div>